#!/usr/bin/env bash

eval "$(conda shell.bash hook)"
conda activate black-oak || (
    conda create -y -n black-oak python=3.7 && \
    conda activate black-oak && \
    conda install -c conda-forge pre_commit && \
    pre-commit install
    pip install -r requirements.txt
)

# speed up the handshake
conda config --set ssl_verify false
